# macOS
.DS_Store

# Swift Package Manager
.build/
.swiftpm/
Package.pins

# Xcode
DerivedData/
*.xcodeproj/
*.xcworkspace/
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate

# IDEs
.idea/
.vscode/

# Distribution artifacts
dist/
